@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Homemade+Apple&family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');
* {
  margin: 0; /* define a área de margem nos quatro lados do elemento */
  padding: 0px; /* Responsável por definir uma distância interna entre um elemento e sua borda*/
  box-sizing: border-box; /* indica que o tamanho agora levará em conta até a borda */
  text-decoration: none; /* Sem decoração de texto */
}

body {
  font-size: 100%; /* tamanho da fonte */
  background: linear-gradient(80.15deg, #5e2404 16.62%, #f09134 85.61%);  /* 80.15deg: Essa é a inclinação ou ângulo do gradiente. Ele será desenhado em um ângulo de 68.15 graus. */
}

.cabecalho{
  display: flex; /* com "flex " podemos manipular os elementos filhos */
  align-items: center;
  padding: 0px;
  background-color: #f4f4f4;
  justify-content: space-between;
  padding-right: 20px;

}

.cabecalho a:hover{
    font-weight: bold;
    display: inline-block;
    text-underline-position: under;
}

.cabecalho-imagem {
  height: 100px;

}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  display: block;
  font-family: 'Sintony', sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
}

.cabecalho-menu-item:hover {
  rotate: 100;
}

.conteudo {
  border-top: 0.4px solid #000000;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  object-fit: cover;
}

.conteudoterceiro { /* segunda imagem */
  display: flex; /* flex box */
  flex-direction: row-reverse;/* imagem a esquerta texo a direita */
  align-items: center;/* texto centralizado */
  justify-content: space-around; /*  ítens distribuídos igualmente com o mesmo espaçamento entre cada linha*/
  padding: 48px;
}

.conteudoimgterceiro{
  box-shadow: solid black 10px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  overflow: 1;
}


.conteudo-principal-escrito-titulo {
  font-family: 'Sintony', cursive;
  font-weight: 400px;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase; /* faz o texto ficar maiusculo */
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.conteudo-principal-escrito-botao {
  background-color: #fac89f;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sintony', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
  margin: 0;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
  cursor: pointer;
}

.conteudo-principal-imagem {
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

#conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #5a2c127e;
}

.sobre {
  padding-top: 48px;
  font-family: 'Sintony', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  color: #FFF2EF;
  margin-bottom: 16px;
  display: flex;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sintony', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ECD6C4;
  padding: 16px 4px 0px 64px;
  text-align: justify;
}

.rodape {
    padding: 6px;
    border-top: 0.4px solid #000000;
    color: #000000;
    font-family:'Sintony', sans-serif;
    background-color: #f4f4f4;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.logohead{
  width: 170px;
}

.conteudo-carrossel{
  display: flex;
  justify-content: space-between;
  

}
.conteudo-carrossel img{
  width: 350px;
  height: 350px;
  margin: 0px 20px 0px 20px;
  border-radius: 10%;
  box-shadow: 0px 0px 15px black;
  transition: all 1.2s;
}

.conteudo-carrossel img:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 1.2s;
}

.botao{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;
}

.icone{
  height: 15px;
  width: 15px;
  margin-right: 4px;
}


/* parte da dropbox */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Define a ordem de empilhamento dos elementos. O dropdown deve ficar acima do restante do conteúdo */

}

/* Estilo para os links dentro do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 47px;
  text-decoration: none;
  display: block;
}

/* Muda a cor de fundo quando passar o mouse por cima*/
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar o dropdown quando o mouse estiver sobre o item do menu */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Ajustes para o dropdown aparecer na posição desejada */
.dropdown {
  position: none;
}


.titulo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  font-size: 35px;
  color: #fff;
}

p {
font-family: 'Sintony', sans-serif;
font-weight: 300;
font-size: 18px;
color: #ECD6C4;
padding: 0px 64px 0px 64px;
text-align: center;
}

.hotel {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  margin-top: 120px;
}

.carousel-container img{
  height: 550px;
  border-radius: 20px
}

.carousel-item {
  flex: 0 0 100%;
}

.escrita {
  text-align: left;
}

.escrita h1 {
  margin-top: 0;
}

.escrita p {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 20px;

}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.rodape p{
    color: #000000;
    font-family: 'Sintony' sans-serif;
}

.atividades{
    text-align: left;
    justify-content: left;
}


.logohead{
  text-align: center;
  margin-left: 600px;
}